body {
  font-family: "Press Start 2P", cursive;
  background-color: #000;
  color: #00b800;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  max-width: 740px;
}

button {
  font-family: "Press Start 2P", cursive;
  border: none;
  background-color: #00b800;
  padding: 1em 2em;
  text-transform: uppercase;
}

button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 1.5rem;
}

textarea {
  font-family: "Press Start 2P", cursive;
  border: none;
  width: 90%;
  outline: none;
  height: 200px;
  background-color: #00b800;
  padding: 1em;
}

textarea:disabled {
  background-color: #a5a2a2;
}
